/analyze_paragraphs.ps1
/Aventuras Fantásticas 01 - A Cidadela do Caos Todas Partes.pdf
/extract_pdf.py
/paragraphs.json
/paragraphs_categorized.txt
/parse_paragraphs.py
/pdf_texto.txt
/pdf_texto_archive.pdf
/pdf_texto_archive.txt